<%#Search header%>
<div class="container" style="background-color: lightgray">
	<div class="row text-center">
	  <h4>New search</h4>  
	  <form accept-charset="UTF-8" action="/result" method="post">
	    <label for="movie">Search for:</label>
	    <input id="movie" name="movie" type="text" />
	    <input name="commit" type="submit" value="Search" /> 
	  </form>
	</div>
</div>  


<h1>Movie Results</h1>
<div class="container">
	<div class="row">
		<% i=0 %>
		<% while i < @arr.size.to_i do %>
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 text-center">
				<img src= '<%=@urls[i]%>' class="img-thumbnail" style="width: 160px; height: 210px;" /> 
				<br>
				<div class="col-12 text-center" style="height: 70px">
					<a href='/poster/<%=@arr[i]["imdbID"]%>'>
						<%= @arr[i]["Title"] %></a> (<%= @arr[i]["Year"] %>)
				</div>
			</div>
			<% i += 1 %>
		<% end %>				
	</div>	
</div>